html {
  background-image: url("../img/clasificatoria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 70px;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

table.clasificacion {
  border-collapse: collapse;
  margin: 0 auto;
  width: 85%;
  text-align: center;
  color: navy;
  font-size: 17px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

thead {
  background-color: rgba(255, 255, 255, 0.9);
  color: navy;
}

thead tr:hover {
  background-color: #2f4f4f;
}

thead th:hover {
  background-color: whitesmoke;
  color: #000;
}

tbody td:hover {
  color: #fff;
}

tbody td:hover {
  background-color: rgba(32, 30, 30, 0.3);
  font-weight: bold;
}

#footer {
  color: white;
  background:#000;
  padding:20px;
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 96%;
  border-radius: 5px;
}

#footer:hover {
  transform: 0.2s;
  background: steelblue;
  background: linear-gradient(
    120deg,
    #79fb00,
    #8d01a0,
    #031ba5,
    #ff00ac,
    #e6036d,
    #fb0094,
    #ff6600,
    #04c2e4,
    #adad02,
    #00c3ff
  );
}

th:nth-child(2), th:nth-child(9), th:nth-child(16){
  background: orangered;
  color: white;
}

td:nth-child(2), td:nth-child(9), td:nth-child(16){
  background: #000;
  color: white;
}

td:nth-child(2):hover, td:nth-child(9):hover, td:nth-child(16):hover{
  background: #000;
  color: white;
}

th:nth-child(2):hover, th:nth-child(9):hover, th:nth-child(16):hover {
  background: orangered;
  color: white;
}
/*  style="background-color: orangered;color:white"*/